* {box-sizing: border-box;}

.body {
  margin: 0;
  font-family: Arial,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ebebeb;
}

.menu {
  width: 100%;
  background-color: #00B4CC;
  padding-left: 50px;
  padding-right: 50px;
  height: 50px;

}

.menu a{
  text-decoration: none;
  color: white;
  text-align: center;
  float: left;
  height: 50px;
  padding: 15px 16px;
}
.menu a:hover {
  background-color: #24a2b3;
  color: white;
}

.menu a.active {
  background-color: white;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)) ;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
}



.espaco-video{
  background-color: white;
  min-width: 300px;
  min-height: 300px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px gray;
}

.espaco-video *{
  padding: 5px;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.01); 
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);



.search {
  position: relative;
  display: flex;
  padding: 3px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(0, 0, 0);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sidebar {
    height: 100%;
    width: 0px;
    position: absolute;
    z-index: 1;
    top: auto;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #00B4CC;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
}

.openbtn:hover {
    background-color: #24a2b3;    ;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.style{
  display: grid;
  margin: 30px;
}

.style1{
  padding: 10px;
  background-Color: white;
  max-height: 230px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% auto;
}
.style3{
  font-size: xx-large;
  text-align: center;
  background-color: #24a2b3;
  color: green;
  margin:5px;
  height: 30px;
}

.style4{
  padding-bottom: 3px;
  font-size: xx-large;
  text-align: center;
  background-color: #24a2b3;
  color:red;
  margin: 5px;
  height: 30px;
}

.style5{
  background-color: #a6ace4;
  height: 40px; 
  text-align: center;
}

.style6{
  position: absolute;
  width: 100%;
}

.menu button{
  text-decoration: none;
  color: white;
  text-align: center;
  float: left;
  height: 50px;
  padding: 15px 16px;
  background-color: #00B4CC;
  border: 0px;
}

.menu button:hover {
  background-color: #24a2b3;
  color: white;
}

.menu button.active {
  text-decoration: none;
  color: white;
  text-align: center;
  float: left;
  height: 50px;
  padding: 15px 16px;
  background-color: #24a2b3;
  border: 0px;
}